/* font-family: 'Alegreya Sans', sans-serif;
font-family: 'Allerta', sans-serif;
font-family: 'Amiko', sans-serif;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Hind Siliguri', sans-serif; */

/* * {
  outline: 1px solid red;
  outline-offset: -1px;
} */

/* html */
body {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #212121;
  min-width: 100vw;
  min-height: 100px;
  max-height: 10vh;
}

.header_logo_container {
  height: 40px;
  margin: 15px;
}

.header_logo {
  padding-top: 2.5px;
  padding-left: 100px;
  min-height: 5em;
}

#site-search {
  min-height: 2.5em;
  width: 20em;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 200px;
  color: rgb(231, 231, 231);
  outline: none;
  border-style: solid;
  border-top: #ffffff;
  border-left: transparent;
  border-right: transparent;
  border-width: thin;
  background-color: transparent;
  outline-color: #fff;
}

h1 {
  font-family: 'Amiko', sans-serif;
  color: #212121;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: lighter;
  color: #212121;
  font-size: 1.1rem;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 1rem;
  color: #5c5c5c;
  margin: 0px;
  font-weight: 100;
}

p {
  font-family: 'Hind Madurai', sans-serif;
  font-size: .75rem;
  color: #5c5c5c;
  margin: 0px;
}

label {
  font-family: 'Hind Madurai', sans-serif;
  font-size: .75rem;
  color: #212121;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sortForm {
  width: auto;
  display: inline;
  border: none;
  text-decoration: underline;
  font-size: 16px;
  display: inline-block;
}

.sortContainer {
  font-size: 20px;
  margin-bottom: 20px;
}

/* star rating */
:root {
  --rating-max: 5;
  --rating-content: '★★★★★';
  --rating-inactive-color: #CCCCCC;
  --rating-background: #81DBD8;
}

.rating {
  display: inline-block;
  font-size: 30px;
}

.rating::before {
  --rating-percent: calc(var(--rating-value) / var(--rating-max) * 100%);
  content: var(--rating-content);
  background: linear-gradient(90deg, var(--rating-background) var(--rating-percent), var(--rating-inactive-color) var(--rating-percent));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.rating-static {
  width: 60px;
  height: 16px;
  display: block;
  margin-top: 0;
  background: url('http://www.itsalif.info/blogfiles/rating/star-rating.png') 0 0 no-repeat;
}

.rating-50 {
  background-position: 0 0;
}

.rating-40 {
  background-position: -12px 0;
}

.rating-30 {
  background-position: -24px 0;
}

.rating-20 {
  background-position: -36px 0;
}

.rating-10 {
  background-position: -48px 0;
}

.rating-0 {
  background-position: -60px 0;
}

.rating-5 {
  background-position: -48px -16px;
}

.rating-15 {
  background-position: -36px -16px;
}

.rating-25 {
  background-position: -24px -16px;
}

.rating-35 {
  background-position: -12px -16px;
}

.rating-45 {
  background-position: 0 -16px;
}

.ratingScore {
  margin-top: 0;
  margin-right: 5px;
  font-size: 300%;
  position: relative;
  top: -13px;
  font-weight: bold;
}

.ratingAveStar {
  position: absolute;
  top: 10px;
  left: 90px;
  transform: scale(1.5);
}

.ratingAndReviewContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
  position: relative;
  left: -70px;
}

.reviewsRatingTitle {
  position: relative;
  left: 17.5%;
  font-weight: bold;
  margin-bottom: 30px;
  width: 155px;
}

.ratingAndTimeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 0 0;
  height: 20px;
}

.ratingsContainer {
  width: 20%;
  margin-right: 5rem
}

.singleReviewContainer {
  margin-bottom: 45px;
}

.reviewsContainer {
  width: 35%;
  margin-left: 4rem;
  position: relative;
}

.sortAndSearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviewSummary {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  color: #212121;
}

.moreReviewsBtn {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #212121;
  margin-top: 15px;
}

.moreReviewsBtn:hover {
  font-weight: bold;
}

.reviewRecommend {
  color: rgb(73 72 72);
  margin: 18px 0 5px;
}

.reviewResponseContainer {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  padding: 15px 15px 20px 15px;
}

.reviewResponse {
  margin-bottom: 10px;
  font-weight: bold;
}

.renderReviews {
  width: 700px;
  height: 600px;
  overflow-y: scroll;
}

.reviewNoFound {
  font-size: 30px;
  position: relative;
  bottom: -30px;
  text-align: center;
}

.reivewSearchBar {
  position: absolute;
  right: -205px;
  top: 0;
  cursor: pointer;
  padding: 5px 10px;
  outline-color: #fff;
  border-left: none;
  border-top: none;
  border-right: none;
}

.reviewSearchLine {
  width: 33%;
  position: relative;
  right: -374px;
  top: -25px;
}

/* .renderReviewBodycontainer{

} */

.reviewBodyDetail {
  line-height: 25px;
  /* color: rgb(101, 101, 101); */
  font-size: 15px;
}


.renderReviews::-webkit-scrollbar {
  display: none;
}

.reviewFooter {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
}

.reviewFooter p {
  margin-left: 8px;
}

.reviewsBreak {
  color: lightgray;
  width: 150%;
  display: none;
}

.showMore {
  border: none;
  text-decoration: underline;
  background-color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.addNewRivewBtn {
  background-color: #fff;
  padding: 8px 20px;
  border: none;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: -425px;
  top: -28px;
  width: 60%;
  font-size: 18px;

}

.addNewRivewBtn:hover {
  /* background-color: rgba(0, 0, 0, .05); */
  font-weight: bold;
  color: #fff;
  background-color: #212121;
}

.reviewUsenameDate {
  display: inline-block;
  font-size: 15px;
  margin-right: 5px;
}

.newReviewUserIcon {
  font-size: 25px;
  position: relative;
  bottom: -6px;
  left: -3px;
}

.newReviewRange {
  width: 30px;
  position: relative;
  bottom: -3px;
}

.reviewPhotos {
  /* margin: 20px 0 30px 0; */
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.reviewPhoto {
  width: 100px;
  height: 100px;
  margin: 10px 8px 10px 0;
}

.reviewHelpfulButton {
  background-color: #fff;
  border-radius: 4px;
  padding: 5px 20px;
  border: none;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
  position: relative;
  right: -5px;
  top: 2px;
  cursor: pointer;
}

.reviewThumbUp {
  cursor: pointer;
  font-size: 20px;
}


.reviewHelpfulButton:hover {
  background-color: rgba(0, 0, 0, .05);
  ;
}

.reviewReportButton {
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 15px;
  color: #5C5C5C;
}

.helpfulReportDevide {
  position: relative;
  bottom: -4px;
  margin: 0 5px;
  color: lightgray;
}

/* .helpfulAndReport:hover {
  color: red;
  font-weight: bolder;
} */

.helpfulNum {
  position: relative;
  left: -2px;
  font-size: 15px;
  color: #5C5C5C
}

.ratingBarContainer {
  height: 30px;
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
}


.ratingContainer {
  height: 15px;
  width: 70%;
  background-color: rgb(231, 231, 231);
  margin-left: 10px;
  position: relative;
  top: 18px;
  right: 30px;
  position: absolute;
  box-sizing: border-box;
}

.ratingBarContainer:hover>.ratingContainer {
  border: 1px solid #81DBD8;
  background-color: #81dbd836;
}

.ratinglevel {
  text-decoration: underline;
  width: 60px;
  color: #212121;
  position: absolute;
  top: 15px
}

.ratingBarContainer:hover>.ratinglevel {
  color: #81DBD8;
}

.ratingBarContainer:hover>.ratingPercent {
  color: #81DBD8;
}

.ratingSum {
  height: 3rem;
}

.ratingPercent {
  position: absolute;
  right: -1.3rem;
  bottom: -0.3rem;
  color: #212112;
}

.ratingLabelContainer {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  flex-wrap: wrap;
  width: 400px;
}

.ratingLabel {
  background-color: #81DBD8;
  padding: 2px 10px;
  border-radius: 3rem;
  margin-right: 5px;
  font-size: 80%;
  margin-top: 5px;
}

.removeLabel {
  cursor: pointer;
}

.ratingScale {
  width: 105%;
  margin-top: 15%;
  position: relative;
}

.ratingScaleTitle {
  position: relative;
  bottom: -20px;
  font-weight: bold;
  color: #212121;
}

.ratingScaleDes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  position: relative;
  top: 5px;
  color: rgb(101, 101, 101);
}

/* .ratingScaleContainer {
  height: 30px;
} */

.ratingScalepoints {
  display: flex;
  flex-direction: row;
  margin-bottom: 0
}

.ratingScalepointslooking {
  height: 10px;
  width: 45%;
  background-color: rgb(231, 231, 231);
  margin-right: 2px;
  margin-top: 5px;
}

.reviewModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 50px; */
}

.reviewModalBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.reviewModalImg {
  width: 850px;
  height: 600px;
}

.ModalCloseBtn {
  position: fixed;
  top: 0;
  left: 0;
}

.newReviewContainer {
  padding: 30px 140px 0;
  background-color: #fff;
  width: 1000px;
  height: 800px;
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column;
  align-items:center; */
}

.newReviewRadioDevide {
  width: 97px;
  position: relative;
  top: -19px;
  right: -59px;
  height: 2px;
  background-color: #5C5C5C;
  border: none;
}

.newReviewRadioDevidehide {
  width: 0px;
}

.newReviewSingleRadio {
  transform: scale(1.5);
}

.newReviewRecomRadio {
  transform: scale(1.3);
  margin-right: 5px;
}

.newReviewInput {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
  padding: 5px 10px;
  box-sizing: border-box;
  margin-bottom: 22px;
  outline-color: #5C5C5C
}

.newReviewLabel {
  display: inline-block;
  margin: 10px 0 8px;
  font-weight: bold;
  font-size: 18px;
}

.newReviewPhotos {
  display: flex;

}

.newReviewPhotoUpload input[type='file'] {
  display: none;
}

.newReviewPhotoUpload {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
  box-sizing: border-box;
  margin: 10px 0 10px 0;
}

.newReviewPhotoInputLabel {
  position: absolute;
  top: 21px;
  margin-left: 25px;

}

.newReviewPhotoContainer {
  /* height: 31px; */
  height: auto;
  border: 1px lightgray solid;
  border-radius: 5px;
  margin: 10px 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  border: none;
}

.newReviewShowPhotos {
  display: block;
}

/* .newReviewPhotoInputLabel{
  background-color: #EFEFEF;
  position: relative;
  top: 0;
  left: 0;
  width: 25%;
  height: 29px;
  line-height: 29px;
  margin-right: 20px;
  display: inline-block;
  border-radius: 5px 0 0 5px;
  border-right: 1px lightgray solid;
  text-align: center;

} */



.newReviewPhotoUploadBtn {
  width: 25%;
  height: 40px;
  border: none;
  border-radius: 0 2px 2px 0;
  border-left: 1px lightgray solid;
  position: absolute;
  right: 0;
  top: 10px;
}

.newReviewImageAdd {
  background-color: #f0f0f0;
  height: 40px;
  width: 180px;
  display: inline-block;
  border-radius: 2px 0 0 2px;
  line-height: 39px;
  text-align: center;
  border-right: 1px lightgray solid;
  font-size: 15px;
}

.newReviewFilesAddCount {
  position: relative;
  top: -28px;
  right: -200px;
}

.newReviewCharacteristics {
  margin-bottom: 13px;
}

/* .newReviewSummary{

} */

.newReviewSubTitle {
  color: #5C5C5C;
  position: relative;
  top: -17px;
  font-size: 15px;
  font-family: 'Hind Madurai', sans-serif;
}


.starRatingContainer {
  display: flex;
}

.starRatingRadio {
  display: none;
}

.ratingStar {
  cursor: pointer;
  transition: color 200ms;
  transform: scale(2);
  margin: 10px 15px 15px 0;
}

.newReviewPhoto {
  width: 100px;
  height: 100px;
  margin: 10px 5px 0 0;
}

.newReviewContainer {
  /* float: inline-start; */
  overflow-y: scroll;
}

.newReviewTitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0 50px;
  color: #212121;
}

.newReviewDes {
  margin-right: 20px;
}

.newReviewRadio {
  margin-right: 120px;
  position: relative;
  right: -70px
    /* float: inline-end; */
}


.newReviewCharacteristic {
  float: left;
  margin-right: 30px;
  font-weight: bold;
}

.newReviewCharaDetailContainer {
  display: flex;
  flex: row;
  text-align: left;
  position: relative;
  height: 58px;
}

.newReviewCharaDetailtd1 {
  font-weight: bold;
  width: 120px;
  font-size: 16px;
  color: #212121;
  position: relative;
  bottom: -2px;
}

.newReviewCharaDetailtd2 {
  text-align: center;
  display: inline-block;
  width: 110px;
  font-size: 15.5px;
  position: relative;
  top: -33px;
  color: #464444;

}

.newReviewCharaDetailtd3 {
  position: relative;
  /* top: -1px; */
  text-align: center;
}

.newReviewChrarcteristicTitle {
  font-weight: bold;
  margin-bottom: 28px;
  font-size: 20px;
  text-align: left;
  position: relative;

}

.newReviewOverrall {
  position: relative;
  right: -190px;
  top: -20px;
  width: 50%;

}

.newReviewProTitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 22px;
  position: relative;
  top: -5px;
  color: #575555;
}

.newReviewOverrallRate {
  font-weight: bold;

}

.newReviewForm {
  position: relative;
  top: -133px;
}

.newReviewShowProductPic {
  width: 150px;
  height: 150px;
}

.newReviewRecommend {
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  margin-right: 5px;
}


.newFormBtn {
  width: 45%;
  height: 40px;
  /* margin-top: 20px; */
  border-radius: 5px;
  border: 1px #fff solid;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  top: 50px;
}

.newFormBtn:hover {
  color: #fff;
  background-color: #212121;
}

.newFormCancelBtn {
  position: relative;
  top: -123px;
  right: -395px;
}



/* OVERVIEW COMPONENT STYLES */

/* Overview Container */
.overview_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Loading screen */
.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading div {
  position: absolute;
  border: 4px solid rgb(39, 39, 39);
  opacity: 1;
  border-radius: 50%;
  animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes loading {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* Overview | Gallery Container */
/* Overview | Sidebar */
.overview_sidebar {
  animation: sidebar_fadein;
  animation-duration: 1.57s;
}

@keyframes sidebar_fadein {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.overview_sidebar_expand {
  animation: sidebar_fadeout;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

@keyframes sidebar_fadeout {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 0%;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 500px;
  width: 782px;
}

/* Overview | Img Carousel */
.slider {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 500px;
  width: 741px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
}

/* .slider {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: flex-end;
  position: relative;
  height: 500px;
  width: 683px;
  padding-left: 242px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
} */

.image {
  overflow: hidden;
  width: 700px;
  height: 455px;
  margin-top: 2.5px;
  object-fit: cover;
  cursor: zoom-in;
  border-radius: 0px;
  border: 1px solid rgba(79, 79, 79, .75);
  animation: shrink;
  animation-duration: 1s;
  position: absolute;
  left: -350px;
  top: -231px;
}

@keyframes shrink {
  0% {
    width: 1100px;
  }

  100% {
    width: 700px;
  }
}


.right-arrow {
  position: absolute;
  top: 50%;
  right: -300px;
  font-size: 2.25rem;
  color: #81DBD8;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  animation-name: fadeoutandin;
  animation-duration: 2s;
}

.right-arrow:hover {
  background-color: rgba(33, 33, 33, 0.174);
  border-radius: 100%;
  padding: -100px;
}

@keyframes fadeoutandin {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.grow_r {
  position: absolute;
  top: 50%;
  right: -700px;
  font-size: 2.25rem;
  color: #81DBD8;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  animation-name: rightgrow;
  animation-duration: 1s;
}

@keyframes rightgrow {
  0% {
    right: -300px;
  }

  100% {
    right: -700px;
  }
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: -252px;
  font-size: 2.25rem;
  color: #81DBD8;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  animation-name: leftfadeoutin;
  animation-duration: 2s;
}


.left-arrow-trigger {
  position: absolute;
  top: 50%;
  left: -252px;
  font-size: 2.25rem;
  color: #81DBD8;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

@keyframes leftfadeoutin {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.slide {
  opacity: 0;
  transition-delay: 1s ease;
}

.slide.active {
  display: flex;
  /* overflow: hidden; */
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* Overview | Vertical Gallery */
.thumb_image {
  width: 55px;
  height: 55px;
  cursor: pointer;
  object-fit: cover;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 0px;
  border: 1px solid rgba(79, 79, 79, .75);
}

.vert_gal_indicator {
  border-bottom: 1px solid rgb(74, 74, 74);
  border-width: 2.5px;
  max-width: 85%;
}

.imageGallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 467px;
  width: 66px;
  position: absolute;
  left: 15px;
  z-index: 1;
  overflow-y: scroll;
  top: 16px;
  margin-bottom: 0 px;
  -ms-overflow-style: none;
  /* Hide Scrollbar for IE and Edge */
  scrollbar-width: none;
  /* Hide Scrollbar for Firefox */
}

.imageGallery::-webkit-scrollbar {
  display: none;
  /* Hide Scrollbar for Chrome, Safari, Opera */
}

.currentImg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* .currentImg {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0px;
} */

/* Overview | Product Info */

.product_info_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 0%;
}

.product_info {
  margin: 0px;
  padding-left: 0px;
}

/* Overview | Style Selector */
.style_selector_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 0 21%;
  width: 375px;
}

.style_image {
  flex: 1 0 21%;
  width: 75px;
  height: 75px;
  cursor: pointer;
  object-fit: cover;
  margin: 5px;
  margin-right: 10px;
  border-radius: 50px;
}

.selected_check {
  position: absolute;
}

/* Overview | Add To Cart */

.overview_button {
  background-color: transparent;
  text-align: left;
  text-indent: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  width: 175px;
  height: 45px;
  border-color: rgb(72, 72, 72);
}

.overview_favorite_btn {
  width: 50px;
  text-align: center;
  text-indent: 0px;
}

.favorite_star {
  margin-top: 2.5px;
  height: 20px;
  width: 20px;
}

.add_to_cart_btn {
  width: 250px;
}

.select_quantity {
  width: 100px;
}

.select_size {
  width: 200px;
}

.productinfo_rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview_ratings {
  display: flex;
  flex-direction: row;
}

.overview_review_link {
  padding-left: 5px;
}

.overview_has_sale_price {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.sale_price {
  padding-right: 5px;
}

.overview_review_link {
  cursor: pointer;
}

/* Product Description */
.product_description_container_parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-right: 47px;
}

.product_description_container {
  display: flex;
  flex-direction: column;
  max-width: 666px;
}

.ul_product_desc {
  list-style: none;
}

.vertical_divider {
  border-left: 6px solid rgb(74, 74, 74);
  border-width: 2.5px;
  margin-top: 10px;
  margin-left: 40px;
  min-height: 4.5rem;
}

.social_share_container {
  display: flex;
  width: 250px;
  margin: 5px;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-start;
}

.share_icon {
  cursor: pointer;
  color: #212121;
  height: 20px;
  width: 20px;
  margin: 10px;
}

.addToCartError {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: white;
  width: 7rem;
  height: 3rem;
  z-index: 1;
  position: fixed;
  border-radius: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Overview | Expanded View */

.big_image {
  position: absolute;
  left: -350px;
  width: 1100px;
  height: 455px;
  margin-top: 2.5px;
  object-fit: cover;
  cursor: zoom-in;
  border-radius: 0px;
  border: 1px solid rgba(79, 79, 79, .75);
  animation-name: grow;
  animation-duration: 1s;
  top: -231px;
}

@keyframes grow {
  0% {
    width: 700px;
  }

  100% {
    width: 1100px;
  }
}

/* children will be positioned relativly to this element */