/* font-family: 'Alegreya Sans', sans-serif;
font-family: 'Allerta', sans-serif;
font-family: 'Amiko', sans-serif;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Hind Siliguri', sans-serif; */


h1 {
  font-family: 'Amiko', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: lighter;
  font-size: 1.1rem;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 1rem;
  margin: 0px;
  font-weight: 100;
}

p {
  font-family: 'Hind Madurai', sans-serif;
  font-size: .75rem;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sortForm {
  width: auto;
  display: inline;
  border: none;
  text-decoration: underline;
  font-size: 16px;
}

.sortContainer {
  font-size: 20px;
  margin-bottom: 20px;
}

.rating-static {
  width: 60px;
  height: 16px;
  display: block;
  margin-top: 0;
  background: url('http://www.itsalif.info/blogfiles/rating/star-rating.png') 0 0 no-repeat;
}

.rating-50 {
  background-position: 0 0;
}

.rating-40 {
  background-position: -12px 0;
}

.rating-30 {
  background-position: -24px 0;
}

.rating-20 {
  background-position: -36px 0;
}

.rating-10 {
  background-position: -48px 0;
}

.rating-0 {
  background-position: -60px 0;
}

.rating-5 {
  background-position: -48px -16px;
}

.rating-15 {
  background-position: -36px -16px;
}

.rating-25 {
  background-position: -24px -16px;
}

.rating-35 {
  background-position: -12px -16px;
}

.rating-45 {
  background-position: 0 -16px;
}

.ratingScore {
  margin-top: 0;
  margin-right: 5px;
  font-size: 300%;
  position: relative;
  top: -7px;
}

.ratingAveStar {
  position: absolute;
  top: 8px;
  left: 80px;
}

.ratingAndReviewContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.reviewsRatingTitle {
  position: relative;
  left: 19.3%;
}

.ratingAndTimeContainer {
  display: flex;
  ;
  flex-direction: row;
  justify-content: space-between;
}

.ratingsContainer {
  width: 20%;
  margin-right: 5rem
}

.reviewsContainer {
  width: 35%;
  margin-left: 4rem;
}

.reviewResponseContainer {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  padding: 15px 15px 20px 15px;
}

.reviewResponse {
  margin-bottom: 10px;
  font-weight: bold;
}

.renderReviews {
  width: 700px;
  height: 550px;
  overflow-y: scroll;
}

.renderReviews::-webkit-scrollbar {
  display: none;
}

.reviewFooter {
  display: flex;
  flex-direction: row;
}

.reviewFooter p {
  margin-left: 8px;
}

.showMore {
  border: none;
  text-decoration: underline;
  background-color: #fff;
}

.reviewPhotos {
  margin-top: 10px;
  display: flex;
  ;
  flex-direction: row;
  cursor: pointer;
}

.reviewPhoto {
  width: 100px;
  height: 100px;
  margin-left: 10px
}

.helpfulAndReport {
  text-decoration: underline;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  font-size: 15px;
}

/* .helpfulAndReport:hover {
  color: red;
  font-weight: bolder;
} */

.helpfulNum {
  position: relative;
  left: -5px;
}

.ratingBarContainer {
  height: 30px;
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
}


.ratingContainer {
  height: 15px;
  width: 70%;
  background-color: rgb(231, 231, 231);
  margin-left: 10px;
  position: relative;
  top: 18px;
  right: 30px;
  position: absolute;
  box-sizing: border-box;
}

.ratingBarContainer:hover>.ratingContainer {
  border: 1px solid green;
  background-color: rgba(194, 246, 166, 0.174)
}

.ratinglevel {
  text-decoration: underline;
  width: 60px;

  position: absolute;
  top: 15px
}

.ratingBarContainer:hover>.ratinglevel {
  color: green
}

.ratingBarContainer:hover>.ratingPercent {
  color: green
}

.ratingSum {
  height: 3rem;
}

.ratingPercent {
  position: absolute;
  right: -1.3rem;
  bottom: -0.3rem;
}

.ratingLabelContainer {
  display: flex;
  flex-direction: row;
  margin-top: 25px
}

.ratingLabel {
  background-color: orange;
  padding: 2px 10px;
  border-radius: 3rem;
  margin-right: 5px;
  font-size: 80%;
}

.removeLabel {
  cursor: pointer;
}

.ratingScale {
  width: 105%;
  margin-top: 15%;
  position: relative;
}

.ratingScaleTitle {
  position: relative;
  bottom: -20px;
  font-weight: bold;
}

.ratingScaleDes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  position: relative;
  top: 5px
}

/* .ratingScaleContainer {
  height: 30px;
} */

.ratingScalepoints {
  display: flex;
  flex-direction: row;
  margin-bottom: 0
}

.ratingScalepointslooking {
  height: 10px;
  width: 45%;
  background-color: rgb(231, 231, 231);
  margin-right: 2px;
  margin-top: 5px;
}

.reviewModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  padding: 0;
}

.reviewModalBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.reviewModalImg {
  width: 800px;
  height: 600px;
}

.ModalCloseBtn {
  position: fixed;
  ;
  top: 0;
  left: 0;
}

.newReviewContainer {
  padding: 10px;
  ;
  background-color: #fff;
  width: 800px;
  height: 600px;
}

.starRatingContainer {
  display: flex;
}

.starRatingRadio {
  display: none;
}

.ratingStar {
  cursor: pointer;
  transition: color 200ms;
}

.newReviewPhoto {
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.newReviewContainer {
  /* float: inline-start; */
  overflow-y: scroll;
}


.newReviewDes {
  margin-right: 20px;
}

.newReviewRadio {
  margin-right: 120px;
  position: relative;
  right: -70px
    /* float: inline-end; */
}


.newReviewCharacteristic {
  float: left;
  margin-right: 30px;
  font-weight: bold;
}

.newReviewCharaDetailContainer {
  display: flex;
  flex: row;
}

.newReviewCharaDetailtd1 {
  font-weight: bold;
}

.newReviewCharaDetailtd2 {
  margin-left: 30px;
}

/* OVERVIEW COMPONENT STYLES */

/* Overview Container */
.overview_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1400px;
}

/* Loading screen */
.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading div {
  position: absolute;
  border: 4px solid rgb(39, 39, 39);
  opacity: 1;
  border-radius: 50%;
  animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes loading {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* Overview | Gallery Container */
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Overview | Img Carousel */
.slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  height: 500px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  padding-left: 500px;
  margin-right: 0px;
  padding-right: 0px;
}

.image {
  width: 455px;
  height: 455px;
  margin-top: 2.5px;
  object-fit: cover;
  border-radius: 0px;
  border: 1px solid rgba(79, 79, 79, .75);
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 2.25rem;
  color: rgba(79, 79, 79, .75);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 90px;
  font-size: 2.25rem;
  color: rgba(79, 79, 79, .75);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-delay: 1s ease;
}

.slide.active {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* Overview | Vertical Gallery */
.thumb_image {
  width: 55px;
  height: 55px;
  cursor: pointer;
  object-fit: cover;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 0px;
  border: 1px solid rgba(79, 79, 79, .75);
}

.imageGallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 430px;
  width: 75px;
  position: absolute;
  left: 15px;
  z-index: 1;
  overflow-y: scroll;
  top: 15px;
  margin-bottom: 0 px;
}

.currentImg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -150px;
  padding-left: 0px;
}

/* Overview | Product Info */

.product_info_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 0%;
}

.product_info {
  margin: 0px;
  padding-left: 0px;
}

/* Overview | Style Selector */
.style_selector_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 0 21%;
  width: 375px;
}

.style_image {
  flex: 1 0 21%;
  width: 75px;
  height: 75px;
  cursor: pointer;
  object-fit: cover;
  margin: 5px;
  margin-right: 10px;
  border-radius: 50px;
}

.selected_check {
  position: absolute;
}

/* Overview | Add To Cart */

.overview_button {
  background-color: transparent;
  text-align: left;
  text-indent: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  width: 175px;
  height: 45px;
  border-color: rgb(72, 72, 72);
}

.overview_favorite_btn {
  width: 50px;
  text-align: center;
  text-indent: 0px;
}

.add_to_cart_btn {
  width: 250px;
}

.select_quantity {
  width: 100px;
}

.select_size {
  width: 200px;
}

.productinfo_rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview_ratings {
  display: flex;
  flex-direction: row;
}

.overview_review_link {
  padding-left: 5px;
}

.overview_has_sale_price {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.sale_price {
  padding-right: 5px;
}

.overview_review_link {
  cursor: pointer;
}